footer
  //p This project is maintained by Jay Fallon.
  p.footerLinks
    a(href="https://twitter.com/jayfallon") Twitter
    a(href="https://plus.google.com/102720558430911385700/posts") Google+
    a(href="http://www.linkedin.com/profile/view?id=8485899&trk=tab_pro") LinkedIn
  p <small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small>