.row
  .span6.offset2
    small  &copy; Jay Fallon - Built using <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>, <a href="http://jsantell.github.com/poet/">Poet</a>, <a href="http://expressjs.com/">Express</a> &amp; <a href="http://nodejs.org/">Node.js</a>. Hosted on <a href="https://www.appfog.com/">appfrog</a>.