footer

  p 
    | This project is maintained by <a href="http://github.com/jayfallon">Jay Fallon</a>.
    ul.social
      li
        a(href="https://twitter.com/jayfallon") Twitter
      li
        a(href="https://profiles.google.com/jayfallon") Google+
      li
        a(href="http://www.linkedin.com/profile/view?id=8485899&trk=tab_pro") LinkedIn
      li
        a(href="http://github.com/jayfallon") GitHub
  p <small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small>