header
  h1.blogTitle 
    a(href="/") jayfallon

  .vanity.clearfix
    .avatar
      img(src="https://secure.gravatar.com/avatar/cccbacc88d887cc1fa5e39f09a0fde9c?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png", width="50", height="50")
    .description Jay Fallon is a User Experience designer and Front End engineer based in Boston, Massachusetts.
  
  ul.social.clearfix
    li
      a(href="https://twitter.com/jayfallon") Twitter
    li
      a(href="https://plus.google.com/102720558430911385700/posts") Google+
    li
      a(href="http://www.linkedin.com/profile/view?id=8485899&trk=tab_pro") LinkedIn
    li
      a(href="http://github.com") GitHub
  
  
  ul.nav.clearfix  
    li
      a(href="#") 
        strong Categories & Tags
    li
      a(href="/mycategories/portfolio")
        strong Portfolio
    li
      a(href="/resume")
        strong Resume
  
 
