.row
  .span1
    img.avatar(src="https://secure.gravatar.com/avatar/cccbacc88d887cc1fa5e39f09a0fde9c?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png")
  .span7
    h1.blogTitle 
      a(href="/") jayfallon.net
    .description Jay Fallon is a user experience architect, product designer and front-end engineer based in Boston, Massachusetts.
    .row
      .span5
        ul.social
          li
            script
              //<![CDATA[
              <!--
              var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
              "=48){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
              ".substr(0,ol);}f(\")311,\\\"xrzi530\\\\000\\\\\\\\\\\\320\\\\700\\\\VPYZs31" +
              "0\\\\620\\\\o020\\\\mr\\\\JBYE_n\\\\310\\\\tJIFn\\\\OK@Mx^sswvx~nw771\\\\.|" +
              "f}ync/P6llzo&d8!*ol330\\\\t\\\\520\\\\t\\\\r\\\\W410\\\\130\\\\320\\\\030\\" +
              "\\100\\\\020\\\\530\\\\520\\\\\\\"(f};o nruter};))++y(^)i(tAedoCrahc.x(edoC" +
              "rahCmorf.gnirtS=+o;721=%y;2=*y))y+311(>i(fi{)++i;l<i;0=i(rof;htgnel.x=l,\\\""+
              "\\\"=o,i rav{)y,x(f noitcnuf\")"                                             ;
              while(x=eval(x));
              //-->
              //]]>
          li
            a(href="https://twitter.com/jayfallon", target="_blank") Twitter
          li
            a(href="http://plus.google.com/103778172118664427065", target="_blank") Google+
          li
            a(href="http://www.linkedin.com/profile/view?id=8485899&trk=tab_pro", target="_blank") LinkedIn
          li
            a(href="http://github.com/jayfallon", target="_blank") GitHub
      .span2
        ul.curriculum
          li
            a(href="/mycategories/portfolio") Portfolio
          li
            a(href="/resume") Resume
            
  
  
  
    


  
 
