//import html5 boilerplate styles
@import "boilerplate/main.scss";
//import fonts
@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
//import app styles
@import "header.scss";

body {
  font:15px/1.7 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:normal;
  color:#444;
}

ul,li{
  margin:0;
  padding:0;
}

li{
  list-style:none;
}

footer{
  margin:20px 0;
}

div.post{
  margin-bottom:30px;
}

a.tags:after{
  content: ", ";
}

div.pagination{
  padding-top:30px;
  border-top:1px solid #eee;
}

.employer{
  font-weight:bold;
}

.employmentDate{
  font-size:13px;
  font-style:italic;
  float:right;
}

.employmentContent{
  padding-bottom:20px;
}