extends layout

block content
  .row
    .span2
      include includes/blogNavigation
    .span6
      h1 All Categories
      ul
        - each cat in categoryList
          li
            a(href=categoryUrl(cat)) #{cat}
