extends layout

block document
  script
    $(function(){
      $('ul.curriculum li:last-child').html('Resume');
    });

block content
  p 
    a(href="/pdf/jayfallon.pdf", target="_blank") Download the .pdf version.

    h3 Summary of Experience
    .employmentContent Jay Fallon is a User Experience professional with many years of experience in web-based, user-centric product design and development, employed as both a consultant and full-time team member on over thirty projects for a list of clients that include large enterprises, small businesses and start-up ventures. Jay's interests lie in perfecting information architecture, social communication and usability.
  
    h3 Details of Experience
    
    .row
      .span4
        .employer James Fallon Consulting – Boston, MA
      .span4
        .employmentDate July 2009 - December 2010 & March 2012 – Present
        
    .row
      .span8
        .employmentPosition User Experience Designer and Developer.
        .employmentContent Responsible for assisting clients with web-based strategies, product research, design and development. Project engagements include working with Style Me Pretty on their upcoming website release, a ground-up overhaul of their existing products. Jay's responsibilities included working closely with the client to craft and implement a comprehensive experience strategy in addition to providing research, design and demonstration deliverables.
    
    .row
      .span4
        .employer Boston Technologies, Inc. - Boston, MA
      .span4
        .employmentDate December 2010 – March 2012
    .row
      .span8
        .employmentPosition Software Engineer, User Experience Designer and Developer.
      .span8
        .employmentContent Working in conjunction with a development team, Jay was responsible for the user experience and front-end architecture, design and development on a foreign exchange trading platform. Duties included research, development and testing for both internal and external product offerings in the form of web-based dashboards, trading applications and analysis.

    .row
      .span4
        .employer State Street Global Advisors, Inc. - Boston, MA
      .span4
        .employmentDate June 2007 – September 2008
    .row
      .span8
        .employmentPosition User Experience Developer
      .span8
        .employmentContent As a consultant, Jay worked closely with multiple internal teams on projects requiring design, development and ongoing maintenance for existing, new and transitioning web-based products. Jay's responsibilities included the design, production and deployment of deliverables along with providing testing and technical support.
    
    .row
      .span4
        .employer Netnumina Solutions, Inc. / Keane, Inc. - Cambridge, MA
      .span4
        .employmentDate July 2000 – December 2007
    .row
      .span8
        .employmentPosition User Experience Developer
      .span8
        .employmentContent Duties include providing technical expertise to account managers, user experience and development teams as well as executing the user experience requirements into deliverables for integration with web applications or standalone websites. Client list includes Fidelity Management & Resource Company, State Street Global Advisors, Johnson & Johnson, Pfizer and ADQSR.

    
    h3 Education
    
    .row
      .span4
        .employer Northeastern University – Boston, MA
      .span4
        .employmentDate September, 1993 - June, 1998
    .row
      .span8
        .employmentPosition Bachelor of Science in Business Administration, majors in Finance and International Business.
      .span8
        .employmentContent Completed cooperative assignments at Boston's Better Snacks, FMRC Corp. and PictureTel Corp., working in operations, marketing and project management.
    
    h3 Military Service
    
    .row
      .span4
        .employer United States Marine Corps
      .span4
        .employmentDate April, 1988 - April, 1992
    .row
      .span8
        .employmentPosition Sergeant, Infantry - Honorable Dishcharge
      .span8
        .employmentContent Served aboard USS Enterprise CVN-65 and USS Eisenhower CVN-69 while a member of Marine Corps Security Forces. Subsequently assigned to I MEF in Saudi Arabia during Operation Desert Storm while ending his enlistment with 3rd Battalion, 2nd Marine Regiment.